<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/theme.default.min.css">
  <link rel="stylesheet" href="../css/common.css">

  <title>備品登録</title>
</head>
<body>
<div>
    <p>
        <a href="bihin_top.html">HOME</a>
        > <a href="bihin_menu.html">備品管理メニュー</a>
        > <a href="bihin_list.html">備品テーブル</a>
        >  備品登録
    </p>
</div>

<p>XXXXでログイン中</p>

<h1>備品登録</h1>

<form action="bihin_update.html" method="post" name="updateForm">
<div>
  <label for="bihinId">備品番号</label>
  <input type="text" id="bihinId" onchange="switchDisable()" value="00000" required>
  <div class="error-message">備品番号を入力してください</div>
</div>
<div>
  <label for="bihinName">備品名</label>
  <input type="text" id="bihinName" onchange="switchDisable()" value="A4用紙" required>
  <div class="error-message">備品名を入力してください</div>
</div>
<div>
  <label for="stockQty">在庫数</label>
  <input type="number" id="stockQty" class="quantity" onchange="switchDisable()" value="2" min="0">
</div>
<div>
  <label for="orderPnt">発注点</label>
  <input type="number" id="orderPnt" class="quantity" onchange="switchDisable()" value="3" min="0">
</div>
<div>
  <label for="commitBase">最低発注数量</label>
  <input type="number" id="commitBase" class="quantity" onchange="switchDisable()" value="5" min="1">
</div>
<div>
  <label>状態区分</label>
  <input type="radio" id="bihinStatus1" name="status" onchange="switchDisable()" value="有効" checked>
  <label for="bihinStatus1">有効</label>
  <input type="radio" id="bihinStatus2" name="status" onchange="switchDisable()" value="無効">
  <label for="bihinStatus2">無効</label>
</div>

<p>
  <input type="button" name="submitBtn" onclick="emptyCheck()" value="登録" disabled>
  <input type="button" value="キャンセル" onClick="history.back();">
</p>
</form>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="../js/bihin_edit.js"></script>

</body>
</html>