<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/theme.default.min.css">
  <link rel="stylesheet" href="../css/common.css">

  <title>備品管理メニュー</title>
</head>
<body>
<div>
    <p>
        <a href="bihin_top.html">HOME</a>
        >  備品管理メニュー
    </p>
</div>

<p>XXXXでログイン中</p>

<h1>備品管理メニュー</h1>
<ol>
    <li><a href="bihin_list.html">備品テーブル</a></li>
    <li><a href="bihin_edit.html">備品登録</a></li>
    <li><a href="bihin_checkConfirm.html">備品チェック結果確認</a></li>
    <li><a href="bihin_order.html">発注リスト</a></li>
</ol>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="../js/jquery.tablesorter.min.js"></script>

</body>
</html>