<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/theme.default.min.css">
  <link rel="stylesheet" href="../css/common.css">

  <title>備品チェック確認</title>
</head>
<body>
<div>
    <p>
        <a href="bihin_top.html">HOME</a>
        > <a href="bihin_menu.html">備品管理メニュー</a>
        >  備品チェック確認
    </p>
</div>

<p>XXXXでログイン中</p>

<h1>備品チェック確認</h1>

<form action="bihin_menu.html" method="get" name="checkConfirmForm">

  <p>
    <label for="checkDate">確認日</label>
    <input type="date" id="checkDate" value="2021-10-01" readonly>
  </p>

  <table class="design06">
    <thead>
      <tr>
        <th>チェック結果</th>
        <th>備品</th>
        <th>在庫数</th>
        <th>実在庫数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div style="color: red;">NG</div></td>
        <td>A4用紙</td>
        <td>5</td>
        <td>
          <input type="number" id="qty1" class="quantity" min="0" value="5" required>
        </td>
      </tr>
      <tr>
        <td>OK</td>
        <td>ふせん大</td>
        <td>3</td>
        <td>
          <input type="number" id="qty2" class="quantity" min="0" value="3" required>
        </td>
      </tr>
      <tr>
        <td>OK</td>
        <td>ふせん中</td>
        <td>4</td>
        <td>
          <input type="number" id="qty3" class="quantity" min="0" value="4" required>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <input type="button" onclick="emptyCheck()" value="確認/一括修正">
  </p>
</form>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="../js/bihin_checkConfirm.js"></script>

</body>
</html>